:root {
    --bg-header: #a277ff;

    --bg-aside: #d471ed;

    --bg-articles: #b99aff;
    --bg-skillArticle: #d47a30;

    --bg-us: #8e63c5;
    --shadow-content: rgba(170, 42, 202, 0.4);
    
    --main-font: 'Roboto Flex', sans-serif;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
}

*, *::after, *::before {
    box-sizing: inherit;
}

body {
    margin: 0;
    font-size: 1.6rem;
    background-color: var(--bg-header);
    font-family: var(--main-font);
}